.App {
  text-align: center;
}

body {
  /* background-image: url('https://i.imgur.com/4MWBUS1.jpg'); */
  margin: 0;
  background-color:#0f111b;
  overflow-y: auto;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: white;
}

/* NAV */
.header {
  background-color:#0f111b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100vw;
  padding: .5em;
}

.headerLink {
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding: 1em;
}

/* HOMEPAGE */

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.homeHeader {
  margin: 0;
  font-size: 4em;
}

/* ALBUMS PAGE */
.albums {
  background-color:#0f111b;
  height: 100vh;
}

.albumDiv {
  padding: 2em;
}

.albumsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.albumImage {
  height: 20em
}

.createAlbumButton {
  background-color: white;
  border: none;
  border-radius: 1em;
  color: #0f111b;
  font-style: bold;
  font-size: 1em;
  padding: 1em;
  margin: 1em;
}

/* ALBUM PAGE */

.bannerContainer {
  position: relative;
  width: 100vw;
  height: 50vh;
}

  .albumBanner {
    width: 100%;
    height: 100%;
  object-fit: cover;
}

.albumBannerName {
  position: absolute;
  top: 1.5em;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #0f111b;
  font-size: 5em;
}